@font-face {
  font-family: 'uc-mobile';
  src: url('../font/uc-mobile.eot?98396157');
  src: url('../font/uc-mobile.eot?98396157#iefix') format('embedded-opentype'),
       url('../font/uc-mobile.woff?98396157') format('woff'),
       url('../font/uc-mobile.ttf?98396157') format('truetype'),
       url('../font/uc-mobile.svg?98396157#uc-mobile') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'uc-mobile';
    src: url('../font/uc-mobile.svg?98396157#uc-mobile') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "uc-mobile";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
   font-size: 200%;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-info:before { content: '\e800'; } /* '' */
.icon-location:before { content: '\e801'; } /* '' */
.icon-ion-android-desktop:before { content: '\e802'; } /* '' */
.icon-left-open:before { content: '\e803'; } /* '' */
.icon-cab:before { content: '\e804'; } /* '' */
.icon-bike:before { content: '\e805'; } /* '' */
.icon-building-filled:before { content: '\e806'; } /* '' */
.icon-building:before { content: '\e807'; } /* '' */
.icon-phone:before { content: '\e808'; } /* '' */
.icon-coffee:before { content: '\e809'; } /* '' */
.icon-bank:before { content: '\e80a'; } /* '' */
.icon-ion-map:before { content: '\e80b'; } /* '' */
.icon-wrench:before { content: '\e80c'; } /* '' */
.icon-ion-android-bicycle:before { content: '\e80d'; } /* '' */
.icon-attention:before { content: '\e80e'; } /* '' */
.icon-graduation-cap:before { content: '\e80f'; } /* '' */
.icon-attention-alt:before { content: '\e810'; } /* '' */
.icon-book:before { content: '\e811'; } /* '' */
.icon-buildings:before { content: '\e812'; } /* '' */
.sb-icon-search:before { content: '\e813'; } /* '' */
.icon-target:before { content: '\e814'; } /* '' */
.icon-services:before { content: '\e815'; } /* '' */
.icon-right-open:before { content: '\e816'; } /* '' */
.icon-left-small:before { content: '\e817'; } /* '' */
.icon-ion-android-locate:before { content: '\e818'; } /* '' */
.icon-ion-android-arrow-back:before { content: '\e819'; } /* '' */
.icon-left:before { content: '\e81a'; } /* '' */
.icon-ion-android-pin:before { content: '\e81b'; } /* '' */
.icon-direction-arrow:before { content: '\e81c'; } /* '' */
.icon-walking17:before { content: '\e81d'; } /* '' */